<launch>
    <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" args="" output="screen" />
    <node pkg="urg_node" type="urg_node" name="urg_node" args="" output="screen" />
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find simple_car)/config/simple_car.rviz" output="screen" />
</launch>
