<launch>
    <include file="$(find simple_car)/launch/drive_node.launch" />
    <node pkg="simple_car" type="simple_car_node" name="simple_car_node" args="" output="screen" >
        <rosparam command="load" file="$(find simple_car)/config/config.yaml"/>
    </node>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find simple_car)/config/rvizcfg.rviz"/>
</launch>
